{% extends 'layout.html' %}

{% block content %}
<h2>Upload Image</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="image">Choose an image</label>
        <input type="file" class="form-control-file" id="image" name="image" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% if result %}
    <h3>Prediction Results</h3>
    <ul>
        {% for class_name, probability in result.items() %}
            <li>{{ class_name }}: {{ probability }}</li>
        {% endfor %}
    </ul>
    <img src="{{ url_for('static', filename='uploads/' + image_path.split('/')[-1]) }}" alt="Uploaded Image" class="img-fluid">
{% endif %}
{% endblock %}
